@import '../../../../styles-shared.scss';

.Cell {
    border: solid 1px #000;

    &-free {
        background: #808080;
    }
    &-user1 {
        background: $player1-color;
    }
    &-user2 {
        background: $player2-color;
    }
}
