.App {
    display: grid;
    grid-template-rows: 50px auto 80px;
    height: 100vh;

    width: 500px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
